#checkout-app fieldset[data-test="checkout-shipping-comments"] {
  display: none;
}

#ftsm-008-progress {
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  position: sticky;
}
#ftsm-008-progress.ftsm-008-progress--desktop {
  box-shadow: none;
  padding: 0 6rem 0 0;
  position: static;
}

#ftsm-008-progress .progress-wrapper {
  max-width: 298px;
  margin: 0 auto;
}
#ftsm-008-progress.ftsm-008-progress--desktop .progress-wrapper {
  max-width: 100%;
}

#ftsm-008-progress .progress-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16px;
  background-color: #f5ebef;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 4px;
  position: relative;
}
#ftsm-008-progress .progress-line::before {
  content: "";
  width: 25px;
  height: 100%;
  background-color: #642a75;
  border-radius: 10px;
  position: absolute;
  top: 0;
}
#ftsm-008-progress .progress-line.step-1::before {
  width: 25px;
}
#ftsm-008-progress .progress-line.step-2::before {
  width: calc(33.3% + 8px);
}
#ftsm-008-progress .progress-line.step-3::before {
  width: calc(66.6% + 8px);
}
#ftsm-008-progress .progress-line.step-4::before {
  width: 100%;
}
#ftsm-008-progress .progress-line::after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #fff;
  filter: drop-shadow(0px 1px 4px rgba(100, 42, 117, 0.6));
}
#ftsm-008-progress .progress-line.step-1::after {
  left: 8px;
}
#ftsm-008-progress .progress-line.step-2::after {
  left: calc(33.3% - 7px);
}
#ftsm-008-progress .progress-line.step-3::after {
  left: calc(66.6% - 7px);
}
#ftsm-008-progress .progress-line.step-4::after {
  left: calc(100% - 15px);
}

#ftsm-008-progress .progress-line__circle {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #edccd9;
  border-radius: 50%;
}

#ftsm-008-progress .progress-labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#ftsm-008-progress .progress-labels > span {
  font: 500 14px/21px "Asap Condensed", sans-serif;
  color: #642a75;
}
#ftsm-008-progress .progress-labels > span b {
  font-weight: 700;
}
